@model List<Movie>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="p-5 text-center bg-image" style="
      background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2015/12/12/859158/ca5f347b9822ffd634711ff31e311b55-700.jpg');
      height: 400px;
    ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">HollyView</h1>
          <h4 class="mb-3">The Action has just begun</h4>
          <a class="btn btn-outline-light btn-lg" asp-controller="Movies" asp-action="Index" role="button">Explore the action</a>
        </div>
      </div>
    </div>
  </div>
  <br />

<marquee style="font-family: Book Antiqua; color: #FFFFFF" bgcolor="black" direction="up" height="60" behavior="alternate"><h3 id="title">List of all the Movies</h3></marquee>

<div class="container">
      <div class="row">
          @foreach (var item in Model)
{
          <div class="col-sm-4">
              <div class="card" style="width: 18rem; margin:">
              <img src="@item.ImageUrl" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
                
                 <a class="btn btn-primary btn-lg mx-3 my-3" asp-controller="Movies" asp-action="Details"  asp-route-id="@item.Id">Read more</a>
              </div>
           </div>
           </div>
           }
           </div>
           </div>

  

@*<div class="container my-5">

 <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    
    <!--/.Controls-->

    <!--Indicators-->
    
    <!--/.Indicators-->

    <!--Slides-->
      <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">

@foreach (var item in Model)
{
    

      <!--First slide-->
      
    
        
        <div class="col-md-3" style="float:left; padding:2px;">
          <div class="card mb-5">
            <img class="card-img-top"
                 src="@item.ImageUrl" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">@item.Name</h4>
              <p class="card-text">@item.Description</p>
              <a class="btn btn-primary btn-lg mx-3 my-3" asp-controller="Movies" asp-action="Details"  asp-route-id="@item.Id">Read more</a>
            </div>
          </div>
        </div>
     
    

   
    
}

</div>
</div>
</div>

        </div> *@



   